*{
   max-width:100%;
   margin:0;
   padding:0;
   box-sizing:border-box;
   font-family:system-ui,sans-serif;
   -webkit-font-smoothing:subpixel-antialiased;
}

:root{
   --cool-shadow:
      0px 0px 1px #000,
      1px 1px 1px #000,
      2px 2px 1px #000,
      3px 3px 1px #000,
      4px 4px 1px #000;
   --cool-boxshadow:
      0px 0px 1px #252525,
      0px 1px 2px #25252585,
      0px 1.5px 2px #25252565,
      0px 2px 3px #25252545,
      0px 2.5px 3px #25252525;
   --active-boxshadow:
      0px 0px 0.5px #252525,
      0px 0.5px 1px #25252585,
      0px 0.75px 1px #25252565,
      0px 1px 2px #25252545,
      0px 1.25px 2px #25252525;
   --smooth-shadow:
      0px 0px 1px #000,
      1px 1px 1px #000;
}

body{
   width:100vw;
   min-width:100vw;
   max-width:100vw;
   height:100vh;
   min-height:100vh;
   max-height:100vh;
   overflow:hidden;
   /*background-color:#ff3c00;
      body default color*/   
   color:#fff;
}

h1,h2,h3,h4,h5,h6{
   font-size:2em;
}

.main-head{
   width:100vw;
   height:10vh;
   min-height:10vh;
   max-height:10vh;
   overflow-y:auto;
   display:flex;
   justify-content:flex-start;
   align-items:flex-start;
}

.main-head-title{
   padding:0 0.25em;
   text-shadow:var(--cool-shadow);
}

.main-content{
   width:100%;
   height:90vh;
   min-height:90vh;
   max-height:90vh;
   overflow-y:auto;
   display:grid;
   grid-template-columns:repeat(auto-fit, minmax(40px,1fr));
   grid-auto-rows:minmax(2vh, auto);
   grid-auto-flow:row dense;
   background-color:rgba(255,255,255,0.1);
}

.counter-section{
   width:100%;
   grid-column:1/-1;
   grid-row:1/-1;
   display:flex;
   flex-direction:column;
   justify-content:center;
   align-items:center;
   gap:1em;
}

#count-number{
   width:100%;
   max-width:40rem;
   word-wrap:break-word;
   text-align:center;
   font-size:8em;
   font-weight:700;
   text-shadow:var(--cool-shadow);
}

.fade-out{
   animation-name:fade-out-content;
   animation-duration:0.15s;
   animation-iteration-count: 1;
}

@keyframes fade-out-content{
   0%{
      opacity:1;
      transform:rotateY(180deg);
      transform:scale(0);
   }100%{
      opacity:0;
      transform:rotateY(360deg);
      transform:scale(1);
   }
}

.fade-in{
   animation-name:fade-in-content;
   animation-duration:0.15s;
   animation-iteration-count: 1;
}

@keyframes fade-in-content{
   0%{
      opacity:0;
      transform:rotateY(180deg);
      transform:scale(0);
   }100%{
      opacity:1;
      transform:rotateY(360deg);
      transform:scale(1);
   }
}

.incrementation-container{
   width:50%;
   display:flex;
   flex-direction:row-reverse;
   justify-content:center;
   align-items:center;
   gap:3em;
   padding:1em;
}
.incrementation-btn,
.decrementation-btn{
   width:62.5px;
   height:62.5px;
   border:none;
   border-radius:50%;
   display:block;
   overflow:hidden;
   position:relative;
   background-color:#ffffffb3;
   outline:none;
   box-shadow:var(--cool-boxshadow);
}
.incrementation-btn:hover,
.decrementation-btn:hover,
.incrementation-btn:focus,
.decrementation-btn:focus{
   cursor:pointer;
   background-color:#fff;
}
.incrementation-btn:active,
.decrementation-btn:active{
   cursor:pointer;
   background-color:#fff;
   box-shadow:var(--active-boxshadow);
}
.incrementation-btn:hover #incrementation,
.decrementation-btn:hover #decrementation{
   font-size:2.5em;
}
#incrementation,
#decrementation{
   width:100%;
   height:100%;
   display:flex;
   justify-content: center;
   align-items:center;
   font-size:3em;
   font-family:monospace;
}

.main-footer{
   width:100vw;
   display:flex;
   justify-content:center;
   align-items:center;
   flex-wrap:wrap;
   text-align:center;
   padding:0.25em;
   grid-column:1/-1;
   font-size:1.1em;
   text-shadow:var(--smooth-shadow);
}

.copyright{
   width:100vw;
   display:flex;
   justify-content:center;
   align-items:center;
   text-align:center;
   padding:0.15em;
}